
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100000;
}
.header #logo{
    font-size: 3.5rem;
    color: black;
}
.navbar a{
    color: black;
    font-size: 1.7rem;
    margin-left: 1rem;
}
.navbar a:hover{
    background-color: #ccccd1;
    color: white;
    border-radius: 10px;
    padding: 1rem 3rem;
}
.login-btn,
.signup-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff; 
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 1.7rem;
    margin-left: 1rem;
    border-radius: 10px;
    padding: 1rem 3rem;
    transition: .2s;
}

.login-btn:hover,
.signup-btn:hover {
    background-color: #ccccd1
}


.main-background {
    background: url("images/background.png");
    background-size: 100%;
    background-position: center;
    margin-top: 6%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.left-back{
    flex: 1 1 45rem;
}
.right-content h1{
font-size: 50px;
letter-spacing: 3px;
}
.left-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.right-content{
    flex:1 1 30rem;
}
.right-content p{
    font-size: 1.5rem;
}
.right-content i{
    font-size: 2rem;
}
.inner-main-content{
    background: black;
    padding: 2rem 2rem;
    
}
.inner-main-content h1{
    color: white;
}
.inner-main-content p{
    color: white;
    font-size: 1.5rem;
    padding: .5rem 0;
}
.inner-main-content span{
    color: white;
    font-size: 1.7rem;
    margin-right: 1rem;
}
.shopnow-btn{
    display: block;
    padding: 1rem 2rem;
    background-color: white;
    width: 40%;
    border-radius: 15px;
    color: black;
    font-size: 1.7rem;
}
.gallery{
    padding: 2rem 7%;
}
.gallery h1{
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
.main-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.inner-gallery{
    flex: 1 1 300px;
}
.inner-gallery img{
    width: 100%;
}
.banner{
    padding: 3rem 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: rgb(228, 161, 235);
}

.inner-banner{
    flex: 1 1 45rem;
}
.inner-banner img{
    width: 90%;
}
.inner-banner h1{
    font-size: 40px;
    padding: .5rem 0;
}
.inner-banner p{
    font-size: 1.7rem;
    padding: 2rem;
}
.inner-banner a{
    padding: 1rem 3rem;
    background: white;
    color:black;
    font-size: 1.7rem;
    text-align: center;
    margin-top: .5rem;
    border-radius: 15px;
}
.products-type{
    padding: 3rem 7%;
}
.products-type h1{
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
.main-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.inner-product{
    flex: 1 1 300px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inner-product img{
    width: 100%;
}
.inner-product a{
    position: absolute;
    left: 0;
    top: 50%;
    padding: 1rem 3rem;
    background: black;
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
    z-index: 1000000;
}